.title {
    font-size: 32px;
    background-color: royalblue;
    color: white;
    padding: 8px 32px;
    border-radius: 46px;
    transition: background-color 0.25s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title:hover {
    background-color: green;
}

.title--hidden {
    display: none;
}